@import "tailwindcss";
@theme {
  --color-secondary: #939090;
  --color-bg-secondary: white;
  --color-bg-gray: #d7d7d7;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x:hidden ;
  a {
    transition: all 0.3s;
    &.active {
      color: var(--color-secondary);
    }
  }
  /* overrideing chakra styles */
  .chakra-menu__item {
    cursor: pointer !important;
    &:hover {
      background-color: var(--color-bg-gray) !important;
    }
  }
}

html {
  transition: 0.3s background-color !important;
  &.dark {
    --color-bg-secondary: #202023;
    --color-bg-gray: #202020;
  }
}
